<app-navigation></app-navigation>
<div class="container">
  <div class="row">
    <nav class="menu animated fadeInUpBig z-depth-5">
      <input type="checkbox" class="menu-open" name="menu-open" id="menu-open" />
      <label class="menu-open-button" for="menu-open">
        <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span>
      </label>

      <a href="https://nl.linkedin.com/in/brian-kleijn-356044b7" target="_blank" class="menu-item blue"><i class="fab fa-linkedin"></i></a>
      <a href="https://gitlab.com/BK93" target="_blank" class="menu-item red"><i class="fab fa-gitlab"></i></a>
      <a href="https://github.com/bjak93" target="_blank" class="menu-item purple"><i class="fab fa-github"></i></a>
      <a routerLink="/home" class="menu-item orange"><i class="fas fa-home"></i></a>
      <a href="../../../assets/img/BrianKleijnCV.pdf" download class="menu-item green"><i class="fas fa-file-download"></i></a>
      <a href="mailto:brian_kleijn@hotmail.com" class="menu-item lightblue"><i class="fas fa-envelope"></i></a>
    </nav>
  </div>
</div>
