:host {
  isplay: block;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../assets/img/dotsbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolioCard {
  background-color: #141414;
  margin-top: 50px;
  margin-bottom: 30px;
  min-height: 100vh;
  padding-bottom: 20px;
}

.titleDiv {
  text-align: center;
}
.titleDiv h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-toolbar {
  justify-content: center;
}

.btn-group {
  display: inline-block !important;
}

.cardDiv {
  justify-content: center;
}

.portCards {
  left: 50%;
  transform: translate(10%);
}

.itemCard {
  min-height: 475px;
  max-width: 278px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #242424;
  color: #ffffff;
  cursor: pointer
}

mdb-card-footer {
  text-align: center;
}

button {
  background-color: #d32f2f !important;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #d32f2f !important;
}

.img {
  min-width: 280px;
  border-radius: 3px;
  height: 170px;
}

.modal-content {
  width: 1000px !important;
}

[class*='col-'] {
  float: left;
}
