<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <mdb-card class="portfolioCard">
          <div class="titleDiv">
            <h2 class="link2 link--effect"><span data-letters="Portfolio">Portfolio</span></h2>
          </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group">
                  <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect (click)="filterBy='all'">All</button>
                  <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect (click)="filterBy='Laravel'">Laravel</button>
                  <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect (click)="filterBy='Angular'">Angular</button>
                  <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect (click)="filterBy='Vue'">Vue</button>
                  <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect (click)="filterBy='HTML/CSS'">HTML/CSS</button>
                  <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect (click)="filterBy='WordPress'">WordPress</button>
                  <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect (click)="filterBy='NoSQL'">NoSQL</button>
                  <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect (click)="filterBy='.NET'">.NET</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="portCards">
              <!-- Card -->
              <mdb-card class="itemCard col-1-3 animated fadeIn" *ngFor="let items of (allItems | filterItems:filterBy)">
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <img src="{{items.url}}" class="img">
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4>{{items.title}}</h4>
                  </mdb-card-title>

                  <!--Text-->
                  <h5>{{items.category}} | {{items.date}}</h5>
                  <mdb-card-text>{{items.description}}</mdb-card-text>

                </mdb-card-body>
                <mdb-card-footer>
                  <a *ngIf="items.link !== ''" [href]="items.link" target="_blank"><button mdbBtn color="primary" mdbWavesEffect>To Website</button></a>
                </mdb-card-footer>
              </mdb-card>
              <!-- Card -->
            </div>
          </div>
        </div>

      </mdb-card>
    </div>
  </div>
</div>
