<app-navigation></app-navigation>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-md-offset-3">
      <mdb-card>
        <section class="view">
          <div class="row">
            <div class="col-md-6 animated fadeInLeftBig">
              <div class="d-flex flex-column about">
                <h2 class="link2 link--effect"><span data-letters="About Me">About Me</span></h2>
                <p>
                  My name is <span class="pSpecial">Brian Kleijn</span>. I'm a <span class="pSpecial">full stack developer</span>
                  living in Breda in the Netherlands.
                </p>
                <div>
                  <div>
                    <h4 class="hvr-underline-reveal">Interests</h4>
                  </div>
                  <div>
                    <p>Movies & TV series | Technology | Games | Travel | Sports | Chess</p>
                  </div>
                </div>
                <div>
                  <div>
                    <h4 class="hvr-underline-reveal">Characteristics</h4>
                  </div>
                  <div>
                    <p>Creative | Eager/Love to Learn | Solution-Oriented | Analytical | Team Player | Stress Resistant
                      | Integrity & Honesty | Loves a Technical Challenge</p>
                  </div>
                </div>
                <div>
                  <div>
                    <h4 class="hvr-underline-reveal">Languages</h4>
                  </div>
                  <div>
                    <p>Dutch (Native language) | English</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 animated fadeInRightBig">
              <div class="view">
                <img src="../../../assets/img/programmer3.png" class="img-fluid"
                     alt="Programmer">
                <div class="mask flex-center hm-gradient">
                </div>
              </div>
            </div>
          </div>
        </section>
      </mdb-card>
    </div>
  </div>
</div>
