:host {
  isplay: block;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../assets/img/dotsbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mdb-card {
  background-color: #141414;
  margin-top: 50px;
  margin-bottom: 30px;
}

h4 {
  color: #fff;
}

.about {
  margin: 5px 5px 5px 15px;
}

.pSpecial {
  background-color: #d32f2f;
}

.hm-gradient {
  background: linear-gradient(40deg, rgba(20, 20, 20, .3), rgba(20, 20, 20, .3));
}

.hvr-underline-reveal:before {
  background: #d32f2f !important;
}
