
/* Moving parallax effect styling */
:host {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/img/dotsbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #fff;
}

.typeText {
  margin-top: 70px;
}
