<app-navigation></app-navigation>

<div class="container">
  <div class="typeText row justify-content-center">
    <h1 class="typed-element"></h1>
  </div>
  <div class="row justify-content-center">
    <div data-relative-input="true" id="scene">
      <img class="image" data-depth="0.8" src="../../../assets/img/BrianCVweb2.png" alt="BK" />
    </div>
  </div>
</div>
