<ng-scrollbar>
  <div class="router-wrapper"
       [@home]="getState(o)"
       [@about]="getState(o)"
       [@skills]="getState(o)"
       [@education]="getState(o)"
       [@experience]="getState(o)"
       [@portfolio]="getState(o)"
       [@contact]="getState(o)"
  >
    <router-outlet #o="outlet"></router-outlet>
  </div>
</ng-scrollbar>
