.router-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1200px;
  transform-style: preserve-3d;
}

:host {
  isplay: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #141414;
}
