:host {
  isplay: block;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../assets/img/dotsbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mdb-card {
  background-color: #141414;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 30px;
}

.titleDiv {
  margin-bottom: -40px;
}

.eduCard {
  background-color: #242424;
  margin-left: 10px;
  margin-bottom: 0;
  padding: 8px;
}

.card .card-body h6, h4, h3, p {
  margin-left: 10px !important;
}

.specialText {
  background-color: #d32f2f;
}

.eduCard {
  min-height: 160px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
}

.hvr-underline-from-center:before {
  background: #d32f2f !important;
}
