<app-navigation></app-navigation>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-md-offset-3 justify-content-center">
      <mdb-card>
        <mdb-card-body>
          <section class="view">
            <div class="row">
              <div class="col-md-6 animated fadeInLeftBig">
                <div class="titleDiv">
                  <h2 class="link2 link--effect"><span data-letters="Education">Education</span></h2>
                </div>
                <div class="row">
                  <mdb-card class="eduCard hvr-underline-from-center">
                    <h6><span class="specialText">2017-Today</span></h6>
                    <h3>Avans College Breda</h3>
                    <h4>(HBO) Bachelor Informatica (IT)</h4>
                    <p>Minor in Artificial Intelligence | Propedeuse Achieved</p>
                  </mdb-card>
                </div>
                <div class="row">
                  <mdb-card class="eduCard hvr-underline-from-center">
                    <h6><span class="specialText">2017</span></h6>
                    <h3>LOI Java Developer</h3>
                    <h4>(HBO) Bachelor Java Developer</h4>
                  </mdb-card>
                </div>
                <div class="row">
                  <mdb-card class="eduCard hvr-underline-from-center">
                    <h6><span class="specialText">2013-2016</span></h6>
                    <h3>Breda University Of Applied Sciences</h3>
                    <h4>Bachelor (HBO) Leisure Management</h4>
                    <p>Propedeuse Achieved</p>
                  </mdb-card>
                </div>
                <div class="row">
                  <mdb-card class="eduCard hvr-underline-from-center">
                    <h6><span class="specialText">2009-2012</span></h6>
                    <h3>Florijn College Breda</h3>
                    <h4>MBO-4 Marketing & Communication</h4>
                    <p>Graduated</p>
                  </mdb-card>
                </div>
                <div class="row">
                  <mdb-card class="eduCard hvr-underline-from-center" style="margin-bottom: 15px">
                    <h6><span class="specialText">2005-2009</span></h6>
                    <h3>Graaf Engelbrecht College</h3>
                    <h4>High School</h4>
                    <p>Graduated</p>
                  </mdb-card>
                </div>
              </div>
              <div class="col-md-6 animated fadeInRightBig">
                <div class="titleDiv">
                  <h2 class="link2 link--effect"><span data-letters="Courses">Courses</span></h2>
                </div>
                <div class="row">
                  <mdb-card class="eduCard hvr-underline-from-center">
                    <h6><span class="specialText">2021</span></h6>
                    <h3>DataCamp Courses</h3>
                    <h4>Python courses</h4>
                  </mdb-card>
                </div>
                <div class="row">
                  <mdb-card class="eduCard hvr-underline-from-center">
                    <h6><span class="specialText">2019</span></h6>
                    <h3>Udemy Online Course</h3>
                    <h4>VueJS 2 – The complete guide</h4>
                    <p>Certificate Achieved</p>
                  </mdb-card>
                </div>
              </div>
            </div>
          </section>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
