<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <mdb-card>
        <div class="skills animated fadeInRight">
          <h2 class="link2 link--effect"><span data-letters="Skills">Skills</span></h2>
          <p></p>
          <div class="row">
            <div class="skillsContainer col-md-6 animated fadeInLeftBig">
              <div class="d-flex flex-column">
                <ul>
                  <li class="best"><i class="fab fa-html5"></i> HTML</li>
                  <li class="best"><i class="fab fa-css3-alt"></i> CSS</li>
                  <li class="better"><i class="fab fa-js-square"></i> JavaScript</li>
                  <li class="best"><i class="fab fa-vuejs"></i> Vue</li>
                  <li class="better"><i class="fab fa-node-js"></i> NodeJS</li>
                  <li class="better"><i class="fab fa-angular"></i> Angular</li>
                  <li class="best"><i class="fab fa-js-square"></i> Inertia</li>
                  <li class="good"><i class="fab fa-python"></i> Python</li>
                  <li class="best"><i class="fab fa-css3"></i> Tailwind CSS</li>
                  <li class="better"><i class="fab fa-bootstrap"></i> Bootstrap</li>
                  <li class="best"><i class="fab fa-microsoft"></i> Microsoft Office</li>
                  <li class="best"><i class="fab fa-wordpress-simple"></i> Wordpress</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 animated fadeInRightBig">
              <ul>
                <li class="best"><i class="fab fa-laravel"></i> Laravel</li>
                <li class="better"><i class="fab fa-php"></i> PHP</li>
                <li class="good"><i class="fab fa-java"></i> Java</li>
                <li class="good"><i class="fas fa-hashtag"></i> C#</li>
                <li class="best"><i class="fas fa-database"></i> SQL</li>
                <li class="best"><i class="fas fa-database"></i> NoSQL</li>
                <li class="better"><i class="fab fa-docker"></i> Docker</li>
                <li class="good"><i class="fab fa-microsoft"></i> ASP.NET</li>
                <li class="best"><i class="fas fa-sync"></i> SCRUM</li>
                <li class="better"><i class="fab fa-git-alt"></i> Git</li>
                <li class="better"><i class="fab fa-microsoft"></i> Azure DevOps</li>
                <li class="better"><i class="far fa-chart-bar"></i> Business Intelligence</li>
              </ul>
            </div>
          </div>
        </div>
      </mdb-card>
    </div>
  </div>
</div>
