:host {
  isplay: block;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../assets/img/dotsbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mdb-card {
  background-color: #141414;
  margin-top: 50px;
  margin-bottom: 30px;
}

.skills {
  margin: 5px 10px 5px 15px;
}

.skillsContainer {
  width: 500px;
}

li {
  color: #fff;
  position: relative;
  list-style: none;
  margin: 50px 0;
  font-weight: 500;
  text-transform: uppercase;
}

li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 1000px;
}

li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: rgba(211, 47, 47, 1);
  border-radius: 1000px;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

li.good:after {
  animation-name: good;
}
@keyframes good {
  to {
    width: 60%;
  }
}

li.better:after {
  animation-name: better;
}
@keyframes better {
  to {
    width: 75%;
  }
}

li.best:after {
  animation-name: best;
}
@keyframes best {
  to {
    width: 90%;
  }
}

/*li.html:after {*/
/*  animation-name: html;*/
/*}*/

/*@keyframes html {*/
/*  to {*/
/*    width: 90%;*/
/*  }*/
/*}*/

/*li.css:after {*/
/*  animation-name: css;*/
/*}*/

/*@keyframes css {*/
/*  to {*/
/*    width: 80%;*/
/*  }*/
/*}*/

/*li.js:after {*/
/*  animation-name: js;*/
/*}*/

/*@keyframes js {*/
/*  to {*/
/*    width: 65%;*/
/*  }*/
/*}*/

/*li.ng:after {*/
/*  animation-name: ng;*/
/*}*/

/*@keyframes ng {*/
/*  to {*/
/*    width: 80%;*/
/*  }*/
/*}*/
