@font-face {
  font-family: HeroFont;
  src: url(Hero.otf);
}
@font-face {
  font-family: HeroLightFont;
  src: url(HeroLight.otf);
}

body {
  font-family: HeroFont;
}

p {
  color: #fff;
}

::selection {
  background-color: #d32f2f;
}

/* H1 styling */
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 3em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
}

.link2 {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 40px;
  line-height: 1;
  color: #fff;
  display: inline-block;
  margin-top: 4px;
}

.link--effect:hover {
  color: #242424;
}

.link--effect::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #141414;
  -webkit-transform: translate3d(101%,0,0);
  transform: translate3d(101%,0,0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--effect:hover::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.link--effect span {
  display: block;
  position: relative;
}

.link--effect span::before {
  content: attr(data-letters);
  position: absolute;
  color: #9e9ba4;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--effect:hover span::before {
  width: 100%;
}
