/* Menu Styling */
li {
  margin: 6px 8px;
}

.navbar-nav {
  justify-content: center;
  /*box-sizing: border-box;*/
  z-index: 70;
  width: 100%;
  margin-top: 30px;
}

.navbar-nav ul {
  font-family: Hero;
  color: #fff;
  outline: none;
  display: inline-block;
  margin: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

* {
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.nav-link{
  color:#fff;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.nav-link:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px;
  color:#141414 !important;
}
