<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
