:host  {
  isplay: block;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../assets/img/dotsbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mdb-card {
  background-color: #141414;
  margin-top: 50px;
  margin-bottom: 30px;
}

a {
  color: #d32f2f;
}
