<app-navigation></app-navigation>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-md-offset-3 justify-content-center">
      <mdb-card>
        <div class="container">
          <h2 class="link2 link--effect animated fadeInLeftBig"><span data-letters="Experience">Experience</span></h2>
          <div id="timeline">

            <div class="timeline-item">
              <div class="timeline-icon">
                <i class="far fa-clock"></i>
              </div>
              <mdb-card class="timeline-content animated fadeInLeftBig">
                <h2>RB-Media Breda</h2>
                <h5>Part time developer</h5>
                <p>2021 - Today</p>
                <p>
                  After my internship, I stayed at RB-Media as a part-time developer in addition to my studies.
                  My responsibility: The Online Media Aggregator application.
                  This consists of maintaining the application and providing service to the customer.
                  But especially the further development of the application with items from the backlog that
                  fell outside the scope during my internship.
                </p>
              </mdb-card>
            </div>

            <div class="timeline-item">
              <div class="timeline-icon">
                <i class="far fa-clock"></i>
              </div>
              <mdb-card class="timeline-content right animated fadeInRightBig">
                <h2>RB-Media Breda</h2>
                <h5>Internship development</h5>
                <p>2020 - 2021</p>
                <p>
                  During my internship at RB-Media I developed a completely new application,
                  called the Online Media Aggregator. With this application,
                  customers of RB-Media can link their social media accounts to their website.
                  The customers have their own account within the application. With their account they can choose
                  which social media accounts they want to link. After linking, all posts from the linked social
                  media account are retrieved. The customer can then create a feed to which they can add one or
                  more linked social media accounts. These feed(s) are retrieved via an API by the customer's
                  website and there the posts within the feed are displayed in a designated place.
                  The application is developed with PHP/Laravel, Vue, Inertia, SQL and Docker.
                </p>
              </mdb-card>
            </div>

            <div class="timeline-item">
              <div class="timeline-icon">
                <i class="far fa-clock"></i>
              </div>
              <mdb-card class="timeline-content animated fadeInLeftBig">
                <h2>Rubikx <br> Web Development & IT Solutions</h2>
                <h5>Developer & Owner</h5>
                <p>2018 - Today</p>
                <p>
                  In 2018 I started my own company called Rubikx. I provide both companies
                  and individuals with web development and IT-related solutions.
                  My main service is web development. I make websites tailored as desired.
                  I create websites with HTML, CSS and Javascript, but also websites via WordPress.
                  I host the websites via my own web hosting. For an overview of my portfolio,
                  please refer to the official website <a href="https://rubikx.nl/" target="_blank">www.rubikx.nl.</a>
                  <br><br>
                  My duties and responsibilities:<br>
                  ▪ Customer contact, hearing the customer's wishes by appointment or by telephone and discussing the possibilities.<br>
                  ▪ Creating websites via HTML, CSS and Javascript.<br>
                  ▪ Creating websites via WordPress.<br>
                  ▪ Maintenance of existing websites.<br>
                  ▪ Hosting websites via own web hosting.<br>
                </p>
              </mdb-card>
            </div>
          </div>
        </div>
      </mdb-card>
    </div>
  </div>
</div>
